In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1.sqlite3")

In [3]:
cur = con.cursor()

In [4]:
portal_data=[1,2,3]
books_data = [2,3]
set(portal_data).difference(set(books_data))

{1}

In [1]:
import sqlite3
con = sqlite3.connect("db1.sqlite3")
cur=con.cursor()

In [2]:
q="create table customer (id int, name varchar(250))"
cur.execute(q)

In [3]:
q="insert into customer values(1,'sai')"
cur.execute(q)

In [1]:
import sqlite3
con = sqlite3.connect("db1.sqlite3")
cur=con.cursor()

In [2]:
q="insert into customer values(1,'sai')"
cur.execute(q)

In [3]:
con.commit()

In [4]:
q="update customer set name='salixmi' where id=1"
cur.execute(q)

In [5]:
con.commit()

In [6]:
q="delete from customer where id=1"
cur.execute(q)
con.commit()

In [7]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'samba'

In [8]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'prathyusha'

In [9]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'sudharshan'

In [10]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'shruthi'

In [11]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'samba'

In [12]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'harieendhra'

In [13]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
random.choice(names)

'harieendhra'

In [14]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
for i in range(1000):
    name=random.choice(names)
    q=f"insert into customer(id,name) values({i},'{name}')"
    print(q)
    break

insert into customer(id,name) values(0,'harieendhra')

In [15]:
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
for i in range(1000):
    name=random.choice(names)
    q=f"insert into customer(id,name) values({i},'{name}')"
    cur.execute(q)
    con.commit()

In [17]:
q="select * from customer"
cur.execute(q)

In [18]:
data = cur.fetchall()

In [20]:
q="select count(*) from customer"
cur.execute(q)
cur.fetchall()

[(1000,)]

In [21]:
q="select count(*) from customer group by(name)"
cur.execute(q)
cur.fetchall()

[(173,), (172,), (167,), (153,), (172,), (163,)]

In [22]:
q="select count(*),name from customer group by(name)"
cur.execute(q)
cur.fetchall()

[(173, 'harieendhra'),
 (172, 'indhraja'),
 (167, 'prathyusha'),
 (153, 'samba'),
 (172, 'shruthi'),
 (163, 'sudharshan')]

In [23]:
q="select count(*),name from customer group by(name)"
cur.execute(q)
data = cur.fetchall()
print(data)

[(173, 'harieendhra'), (172, 'indhraja'), (167, 'prathyusha'), (153, 'samba'), (172, 'shruthi'), (163, 'sudharshan')]

In [24]:
q="select count(*),name from customer group by(name)"
cur.execute(q)
data = cur.fetchall()
max(data,key=lambda ele:ele[0])

(173, 'harieendhra')

In [25]:
#import sqlite3
import psycopg2
con = psycopg2.connect(host="localhost",user="postgres",password="root",database="batch59")
cur=con.cursor()
# creates a table
q="create table customer (id int, name varchar(250))"
cur.execute(q)
#inserting bulk record
names=["samba","prathyusha","indhraja","shruthi","sudharshan","harieendhra"]
import random
for i in range(1000):
    name=random.choice(names)
    q=f"insert into customer(id,name) values({i},'{name}')"
    cur.execute(q)
    con.commit()

In [26]:
q="select count(*),name from customer group by(name)"
cur.execute(q)
data = cur.fetchall()
max(data,key=lambda ele:ele[0])

(187, 'indhraja')

In [ ]:
"""
DB operation:
    1. insert
    2. update
    3. delete
#1:
   enter id:
   enter name:
   do you want to insert the above details?(y/n)
#2 enter id:
   enter name:
    Need to show the existing record[(12,'samba')] Do you want to update?(y/n)
#3: enter id:
     Need to show the existing record[(12,'samba')]. Do you want to delete?(y/n)
    
"""

In [27]:
q="create table customer (id int, name varchar(250))"
cur.execute(q)

ProgrammingError: relation "customer" already exists