In [1]:
print("hello")

hello

In [2]:
print("hello")
a=100
b=200
c=a+b

hello

In [3]:
a=100
b=200
product_name="apple"
cost=23

In [4]:
COST=23

In [5]:
coST=23

In [6]:
COMPANY_NAME="KHYAATHI"

In [7]:
cost priuce=12

SyntaxError: invalid syntax (<ipython-input-7-c83ef2fac75a>, line 1)

In [8]:
cost_priuce=12

In [9]:
cost-priuce=12

SyntaxError: can't assign to operator (<ipython-input-9-cbfa5508e92d>, line 1)

In [10]:
cost2priuce=12

In [11]:
2cost2priuce=12

SyntaxError: invalid syntax (<ipython-input-11-23d8a659a2b1>, line 1)

In [12]:
_cost2priuce=12

In [15]:
a=10
print(a, type(a))
a=12.34
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,3,4)
print(a, type(a))
a={1,2,3,4}
print(a, type(a))
a={"name":"JAY","age":2.4}
print(a, type(a))
a=None
print(a, type(a))

10 <class 'int'>
12.34 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'name': 'JAY', 'age': 2.4} <class 'dict'>
None <class 'NoneType'>

In [16]:
a=10
print(a, type(a))
a=12.34
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,3,4)
print(a, type(a))
a={1,2,3,4}
print(a, type(a))
a={"name":"JAY","age":2.4}
print(a, type(a))
a=None
print(a, type(a))
a="str"
print(a, type(a))

10 <class 'int'>
12.34 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'name': 'JAY', 'age': 2.4} <class 'dict'>
None <class 'NoneType'>
str <class 'str'>

In [17]:
a=1000
b=2000
# arithmatic: _,-,*,/,//,**,%
#boolean: >,<,>=,<=,==, !=, is, in, not
#bitwise: & | ^ >> <<
# composit boolean : and or

In [18]:
a=1000
b=2000
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**2)
print(a//b)
print(a%5)

3000
-1000
2000000
0.5
1000000
0
0

In [19]:
10/3

3.3333333333333335

In [20]:
10//3

3

In [21]:
# what is the big number can assign to python variable?

In [22]:
a=1000
b=2000
print(a>b)

False

In [23]:
a=1
b=2
print(a>b)

False

In [24]:
a=10
b=6
print(a>b)

True

In [25]:
a="10"
b="6"
print(a, type(a))

10 <class 'str'>

In [26]:
a="10"
b="6"
print(a>b)

False

In [27]:
# lexical comparison
# "10","6","23","5","6","67"
# "10", "23","5","6","67"

In [28]:
s1="apple"
s2="ora"
s1>s2

False

In [29]:
print(ord("a"))
print(ord("o"))

97
111

In [30]:
"""
int c;
c=2000; c="pytoh"
char s[10];
s="pyton";
"""

'\nint c;\nc=2000; c="pytoh"\nchar s[10];\ns="pyton";\n'

In [32]:
s1="apple"
s2="apple"
s1==s2

True

In [33]:
s1="apple"
s2="APPLE"
s1==s2

False

In [34]:
ord("a")

97

In [35]:
ord("A")

65

In [36]:
chr(65)

'A'

In [37]:
chr(97)

'a'

In [38]:
a=1000
b=2000
print(a+b)

3000

In [39]:
s1="python"
s2="java"
s1+s2

'pythonjava'

In [40]:
c1=1+2j
c2=2+3j
c1+c2

(3+5j)

In [41]:
c1=1+2j
c2=2+3j
c1>c2

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [42]:
a=12
b=12.34
a+b

24.34

In [43]:
a=12
b=12.34
float(a)+b

24.34

In [44]:
float(a)

12.0

In [45]:
s1="10"
s2="23"
print(s1+s2)

1023

In [46]:
s1="10"
s2=23
print(s1+s2)

TypeError: can only concatenate str (not "int") to str

In [47]:
s1="10"
s2=23
print(s1+str(s2))

1023

In [48]:
s1="10"
s2=23
print(int(s1)+s2)

33

In [49]:
True+True

2

In [50]:
a=True
print(a)

True

In [51]:
a=True
b=True
print(a+b)

2

In [52]:
a=10
b="str"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
a=10
b="str"
a*b

'strstrstrstrstrstrstrstrstrstr'

In [54]:
a=10
print(a+"str")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
a+23.45

33.45

In [56]:
a+[1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [57]:
a+(1,2,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [58]:
a+1+2j

(11+2j)

In [59]:
l1=[1,2,3,4]
l2=[0,1000,2000,300]
l1>l2

True

In [60]:
l1=[1,2,3,4]
l2=[10,-1000,-2000,-300]
l1>l2

False

In [61]:
l1=[100,2000,3000]
l2=[100,2,50000]
l1>l2

True

In [62]:
[1,2,3]==[3,2,1]

False

In [63]:
{1,2,3}=={3,2,1}

True

In [64]:
max([1,2,3,4])

4

In [ ]:
max([1,2,3,4,"str1"])

In [65]:
1>"str2"

TypeError: '>' not supported between instances of 'int' and 'str'

In [66]:
max([1,2,3,4,"str1"])

TypeError: '>' not supported between instances of 'str' and 'int'

In [68]:
a=True
b=2
print(a+b)

3