In [1]:
print("hello")

hello

In [2]:
print("hello")
a=100
b=200
c=a+b

hello

In [3]:
a=100
b=200
product_name="apple"
cost=23

In [4]:
COST=23

In [5]:
coST=23

In [6]:
COMPANY_NAME="KHYAATHI"

In [7]:
cost priuce=12

SyntaxError: invalid syntax (<ipython-input-7-c83ef2fac75a>, line 1)

In [8]:
cost_priuce=12

In [9]:
cost-priuce=12

SyntaxError: can't assign to operator (<ipython-input-9-cbfa5508e92d>, line 1)

In [10]:
cost2priuce=12

In [11]:
2cost2priuce=12

SyntaxError: invalid syntax (<ipython-input-11-23d8a659a2b1>, line 1)

In [12]:
_cost2priuce=12

In [15]:
a=10
print(a, type(a))
a=12.34
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,3,4)
print(a, type(a))
a={1,2,3,4}
print(a, type(a))
a={"name":"JAY","age":2.4}
print(a, type(a))
a=None
print(a, type(a))

10 <class 'int'>
12.34 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'name': 'JAY', 'age': 2.4} <class 'dict'>
None <class 'NoneType'>

In [16]:
a=10
print(a, type(a))
a=12.34
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,3,4)
print(a, type(a))
a={1,2,3,4}
print(a, type(a))
a={"name":"JAY","age":2.4}
print(a, type(a))
a=None
print(a, type(a))
a="str"
print(a, type(a))

10 <class 'int'>
12.34 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'name': 'JAY', 'age': 2.4} <class 'dict'>
None <class 'NoneType'>
str <class 'str'>

In [17]:
a=1000
b=2000
# arithmatic: _,-,*,/,//,**,%
#boolean: >,<,>=,<=,==, !=, is, in, not
#bitwise: & | ^ >> <<
# composit boolean : and or

In [18]:
a=1000
b=2000
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**2)
print(a//b)
print(a%5)

3000
-1000
2000000
0.5
1000000
0
0

In [19]:
10/3

3.3333333333333335

In [20]:
10//3

3

In [21]:
# what is the big number can assign to python variable?

In [22]:
a=1000
b=2000
print(a>b)

False

In [23]:
a=1
b=2
print(a>b)

False

In [24]:
a=10
b=6
print(a>b)

True

In [25]:
a="10"
b="6"
print(a, type(a))

10 <class 'str'>

In [26]:
a="10"
b="6"
print(a>b)

False

In [27]:
# lexical comparison
# "10","6","23","5","6","67"
# "10", "23","5","6","67"

In [28]:
s1="apple"
s2="ora"
s1>s2

False

In [29]:
print(ord("a"))
print(ord("o"))

97
111

In [30]:
"""
int c;
c=2000; c="pytoh"
char s[10];
s="pyton";
"""

'\nint c;\nc=2000; c="pytoh"\nchar s[10];\ns="pyton";\n'

In [32]:
s1="apple"
s2="apple"
s1==s2

True

In [33]:
s1="apple"
s2="APPLE"
s1==s2

False

In [34]:
ord("a")

97

In [35]:
ord("A")

65

In [36]:
chr(65)

'A'

In [37]:
chr(97)

'a'

In [38]:
a=1000
b=2000
print(a+b)

3000

In [39]:
s1="python"
s2="java"
s1+s2

'pythonjava'

In [40]:
c1=1+2j
c2=2+3j
c1+c2

(3+5j)

In [41]:
c1=1+2j
c2=2+3j
c1>c2

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [42]:
a=12
b=12.34
a+b

24.34

In [43]:
a=12
b=12.34
float(a)+b

24.34

In [44]:
float(a)

12.0

In [45]:
s1="10"
s2="23"
print(s1+s2)

1023

In [46]:
s1="10"
s2=23
print(s1+s2)

TypeError: can only concatenate str (not "int") to str

In [47]:
s1="10"
s2=23
print(s1+str(s2))

1023

In [48]:
s1="10"
s2=23
print(int(s1)+s2)

33

In [49]:
True+True

2

In [50]:
a=True
print(a)

True

In [51]:
a=True
b=True
print(a+b)

2

In [52]:
a=10
b="str"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
a=10
b="str"
a*b

'strstrstrstrstrstrstrstrstrstr'

In [54]:
a=10
print(a+"str")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
a+23.45

33.45

In [56]:
a+[1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [57]:
a+(1,2,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [58]:
a+1+2j

(11+2j)

In [59]:
l1=[1,2,3,4]
l2=[0,1000,2000,300]
l1>l2

True

In [60]:
l1=[1,2,3,4]
l2=[10,-1000,-2000,-300]
l1>l2

False

In [61]:
l1=[100,2000,3000]
l2=[100,2,50000]
l1>l2

True

In [62]:
[1,2,3]==[3,2,1]

False

In [63]:
{1,2,3}=={3,2,1}

True

In [64]:
max([1,2,3,4])

4

In [ ]:
max([1,2,3,4,"str1"])

In [65]:
1>"str2"

TypeError: '>' not supported between instances of 'int' and 'str'

In [66]:
max([1,2,3,4,"str1"])

TypeError: '>' not supported between instances of 'str' and 'int'

In [68]:
a=True
b=2
print(a+b)

3

In [1]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("NAME:",name)

NAME: JAYARAM

In [2]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("NAME:name")

NAME:name

In [3]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("NAME:"name)

SyntaxError: invalid syntax (<ipython-input-3-57ae8a2e3e96>, line 6)

In [4]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("NAME:",name)

NAME: JAYARAM

In [5]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("NAME:".name)

AttributeError: 'str' object has no attribute 'name'

In [6]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("NAME:",name)

NAME: JAYARAM

In [7]:
print(23)

23

In [8]:
print("23")

23

In [9]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456")

The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456

In [10]:
l=[23,45,23,45,67,21,12]
print(45)

45

In [11]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:")

The person details: NAME:

In [12]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:",name)

The person details: NAME: JAYARAM

In [13]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"name)

SyntaxError: invalid syntax (<ipython-input-13-3abb90e33976>, line 6)

In [14]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:",name,sep=";")

The person details: NAME:;JAYARAM

In [15]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:",name,sep='')

The person details: NAME:JAYARAM

In [16]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name)

The person details: NAME:JAYARAM

In [17]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name,",")

The person details: NAME:JAYARAM ,

In [18]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+",")

The person details: NAME:JAYARAM,

In [19]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:")

The person details: NAME:JAYARAM, AGE:

In [20]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:",age)

The person details: NAME:JAYARAM, AGE: 2.3458787

In [21]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:",int(age))

The person details: NAME:JAYARAM, AGE: 2

In [22]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:"+int(age))

TypeError: can only concatenate str (not "int") to str

In [23]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:"+str(int(age)))

The person details: NAME:JAYARAM, AGE:2

In [24]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:"+str(int(age)),", HEIGHT")

The person details: NAME:JAYARAM, AGE:2 , HEIGHT

In [26]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:"+str(int(age))+", HEIGHT:")

The person details: NAME:JAYARAM, AGE:2, HEIGHT:

In [27]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:"+str(int(age))+", HEIGHT:"+str(height))

The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.45678

In [28]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("The person details: NAME:"+name+", AGE:"+str(int(age))+", HEIGHT:"+str(round(height,2)))

The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46

In [29]:
print("this is hyderabad")
print("IPL Final was amazing")

this is hyderabad
IPL Final was amazing

In [30]:
print("this is hyderabad,IPL Final was amazing")

this is hyderabad,IPL Final was amazing

In [31]:
print("this is hyderabad\nIPL Final was amazing")

this is hyderabad
IPL Final was amazing

In [32]:
s="a\nb\nc\nd\n"
print(s)

a
b
c
d

In [ ]:
s="a\nb\nc\nd\n"
print(s)
print(len(s))

In [33]:
s="abcd"
print(s)
print(len(s))

abcd
4

In [34]:
s="a\nb\nc\nd\n"
print(s)
print(len(s))

a
b
c
d

8

In [35]:
print("this is hyderabad\tIPL Final was amazing")

this is hyderabad	IPL Final was amazing

In [36]:
print("this is\n hyde\nrabad\tIPL Fina\nl was\namazing")

this is
 hyde
rabad	IPL Fina
l was
amazing

In [37]:
print("this is"\n" hyde\nrabad\tIPL Fina\nl was\namazing")

SyntaxError: unexpected character after line continuation character (<ipython-input-37-3fb6b28859ee>, line 1)

In [38]:
print("this is\\n hyde\\nrabad\\tIPL Fina\\nl was\\namazing")

this is\n hyde\nrabad\tIPL Fina\nl was\namazing

In [39]:
print(r"this is\n hyde\nrabad\tIPL Fina\nl was\namazing")

this is\n hyde\nrabad\tIPL Fina\nl was\namazing

In [40]:
s="a\nb\nc\nd"
print(len(s))

7

In [41]:
s=r"a\nb\nc\nd"
print(len(s))

10

In [42]:
#python is good 
#programing language now

In [43]:
print("python is good \nprograming language now")

python is good
programing language now

In [44]:
age = 3.4567
print("Age:"+str(int(age)))

Age:3

In [45]:
age = 3.4567
print("Age:%d",age)

Age:%d 3.4567

In [46]:
age = 3.4567
print("Age:%d"%age)

Age:3

In [47]:
name="sai"
print("NAME:%s"%name)

NAME:sai

In [48]:
age = 3.4567
name="sai"
print("NAME:%s, Age:%s"%(name,age))

NAME:sai, Age:3.4567

In [50]:
age = 3.4567
name="sai"
print("NAME:%s, Age:%f"%(name,age))

NAME:sai, Age:3.456700

In [51]:
age = 3.4567
name="sai"
print("NAME:%s, Age:%d"%(name,age))

NAME:sai, Age:3

In [52]:
age = 3.4567
name="sai"
print("NAME:%s, Age:%f"%(name,age))

NAME:sai, Age:3.456700

In [53]:
age = 3.4567
name="sai"
print("NAME:%s, Age:%.2f"%(name,age))

NAME:sai, Age:3.46

In [ ]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456

In [54]:
print(a123)

NameError: name 'a123' is not defined

In [55]:
print(None)

None

In [56]:
print(none)

NameError: name 'none' is not defined

In [57]:
print("none")

none

In [58]:
print('none')

none

In [59]:
print(none)

NameError: name 'none' is not defined

In [60]:
a="jayaram"
b="20"
print(a+b)

jayaram20

In [61]:
a=20
print(a,type(a))

20 <class 'int'>

In [62]:
a="20"
print(a, type(a))

20 <class 'str'>

In [63]:
print("python is good programing language now")

python is good programing language now

In [64]:
print("python is good")
print("programing language now")

python is good
programing language now

In [65]:
print("python is good");print("programing language now")

python is good
programing language now

In [66]:
print("asdasjkldj aj askjdlkas jiajiodfjaiojrdwqaihrjfwqiejdfowiasjfdiasohjfioweariowahiwjrowahwfiwafha
      oifhauiohfiousawerwqjrowqyhfiasnjm fdasjiof jdsaifjsaiof asiopf saiouf isoafusof")

SyntaxError: EOL while scanning string literal (<ipython-input-66-a24d6914dcf2>, line 1)

In [67]:
print("asdasjkldj aj askjdlkas jiajiodfjaiojrdwqaihrjfwqiejdfowiasjfdiasohjfioweariowahiwjrowahwfiwafha\
      oifhauiohfiousawerwqjrowqyhfiasnjm fdasjiof jdsaifjsaiof asiopf saiouf isoafusof")

asdasjkldj aj askjdlkas jiajiodfjaiojrdwqaihrjfwqiejdfowiasjfdiasohjfioweariowahiwjrowahwfiwafha      oifhauiohfiousawerwqjrowqyhfiasnjm fdasjiof jdsaifjsaiof asiopf saiouf isoafusof

In [68]:
# some what temperature is "ok" in 'hyderabad' today.
print("some what temperature is "ok" in 'hyderabad' today.")

SyntaxError: invalid syntax (<ipython-input-68-10e9be76b82a>, line 2)

In [69]:
# some what temperature is "ok" in 'hyderabad' today.
print('some what temperature is "ok" in 'hyderabad' today.')

SyntaxError: invalid syntax (<ipython-input-69-538bccd04b11>, line 2)

In [70]:
# some what temperature is "ok" in 'hyderabad' today.
print("some what temperature is \"ok\" in 'hyderabad' today.")

some what temperature is "ok" in 'hyderabad' today.

In [71]:
# some what temperature is "ok" in 'hyderabad' today.
print('some what temperature is "ok" in \'hyderabad\' today.')

some what temperature is "ok" in 'hyderabad' today.

In [72]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:")

Then person details: Name:

In [73]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s"%name)

Then person details: Name:JAYARAM

In [75]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:"%name)

Then person details: Name:JAYARAM, AGE:

In [76]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%s"%(name,age))

Then person details: Name:JAYARAM, AGE:2.3458787

In [77]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%d"%(name,age))

Then person details: Name:JAYARAM, AGE:2

In [78]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%d, HEIGHT:%f"%(name,age,height))

Then person details: Name:JAYARAM, AGE:2, HEIGHT:3.456780

In [79]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%d, HEIGHT:%.2f"%(name,age,height))

Then person details: Name:JAYARAM, AGE:2, HEIGHT:3.46

In [80]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%d, HEIGHT:%.2f, WEIGHT:%s"%(name,age,height,weight))

Then person details: Name:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456

In [81]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%d, HEIGHT:%.2f, WEIGHT:"%(name,age,height,weight))

TypeError: not all arguments converted during string formatting

In [82]:
name="JAYARAM"
age=2.3458787
height=3.45678
weight=12.3456
# The person details: NAME:JAYARAM, AGE:2, HEIGHT:3.46, WEIGHT:12.3456
print("Then person details: Name:%s, AGE:%d, HEIGHT:%.2f, WEIGHT:%s"%(name,age,height))

TypeError: not enough arguments for format string

In [83]:
a=10
print("%f"%a)

10.000000

In [84]:
a=10
b=float(a)
print(b)

10.0

In [85]:
float(a)=10

SyntaxError: can't assign to function call (<ipython-input-85-77932e566c6d>, line 1)

In [86]:
a=10
print(float(a))

10.0

In [88]:
a=10
print(a, type(a))
print(float(a))
print(a, type(a))

10 <class 'int'>
10.0
10 <class 'int'>

In [89]:
a=10
print(a, type(a))
a=float(a)
print(a, type(a))

10 <class 'int'>
10.0 <class 'float'>

In [90]:
a=10
print(complex(a))

(10+0j)

In [92]:
a=12342894723859472372387534725
print(a, type(a))

12342894723859472372387534725 <class 'int'>

In [93]:
a=123428947238594723723875347257357487585943825943859734298534907534982348231482310984213
print(a, type(a))

123428947238594723723875347257357487585943825943859734298534907534982348231482310984213 <class 'int'>

In [1]:
a=10
b=10
a==b

True

In [2]:
a=10
b=010
a==b

SyntaxError: invalid token (<ipython-input-2-37716fff4d04>, line 2)

In [3]:
a=0b10
print(a, type(b))
a=0o10
print(a, type(a))
a=0x10
print(a, type(a))

2 <class 'int'>
8 <class 'int'>
16 <class 'int'>

In [4]:
a=0x10
b=0o10
print(a+b)

24

In [5]:
a="1234"
print(int(a))

1234

In [6]:
a="1234b"
print(int(a))

ValueError: invalid literal for int() with base 10: '1234b'

In [7]:
a="1234b"
print(int(a,16))

74571

In [8]:
a="1234"
print(int(a,8))

668

In [10]:
a="1234"
print(int(a,6))

310

In [11]:
a=1234
print(bin(a))
print(oct(a))
print(hex(a))

0b10011010010
0o2322
0x4d2

In [12]:
a=1234
print("%o"%a)
print("%x"%a)

2322
4d2

In [13]:
a=1234
print("%o"%a)
print("%X"%a)

2322
4D2

In [14]:
a="sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n"
print(a)
print("%s"%a)

sfsdf
sdfsd	sdfsdf
sdfsdf	sdfsd

sfsdf
sdfsd	sdfsdf
sdfsdf	sdfsd

In [15]:
a=r"sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n"
print(a)
print("%s"%a)

sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n
sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n

In [16]:
a="sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n"
print(a)
print("%r"%a)

sfsdf
sdfsd	sdfsdf
sdfsdf	sdfsd

'sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n'

In [17]:
a="sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n"
print("%r"%a)

'sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n'

In [18]:
a="sfsdf\nsdfsd\tsdfsdf\nsdfsdf\tsdfsd\n"
print("%s"%a)

sfsdf
sdfsd	sdfsdf
sdfsdf	sdfsd

In [19]:
a=0b0101010

In [20]:
a=0b01234

SyntaxError: invalid syntax (<ipython-input-20-4628868e4254>, line 1)

In [ ]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: name:%s")

In [21]:
a=12345
print("%o"%a)

30071

In [22]:
a=12345
print(oct(a))

0o30071

In [24]:
a=9676622023
print("%x"%a)

240c588c7

In [25]:
a=9676622023
print("%x"%a)
print(hex(a))

240c588c7
0x240c588c7

In [27]:
a=12345
print("%b"%a)

ValueError: unsupported format character 'b' (0x62) at index 1

In [28]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68

In [29]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))
print("Mykid details: Name:{name}")

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68
Mykid details: Name:{name}

In [30]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))
print(f"Mykid details: Name:{name}")

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68
Mykid details: Name:JAYARAM

In [31]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))
print(f"Mykid details: Name:{name}, Age:{age}, Height:{height}")

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68
Mykid details: Name:JAYARAM, Age:2.3, Height:3.6789

In [32]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))
print(f"Mykid details: Name:{name:d}, Age:{age}, Height:{height:.2f}")

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68

ValueError: Unknown format code 'd' for object of type 'str'

In [33]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))
print(f"Mykid details: Name:{name}, Age:{age:d}, Height:{height}")

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68

ValueError: Unknown format code 'd' for object of type 'float'

In [34]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height: %.2f"%(name,age,height))
print(f"Mykid details: Name:{name}, Age:{int(age)}, Height:{height}")

Mykid deatils: Name:JAYARAM, Age:2, Height: 3.68
Mykid details: Name:JAYARAM, Age:2, Height:3.6789

In [36]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height:%.2f"%(name,age,height))
print(f"Mykid details: Name:{name}, Age:{int(age)}, Height:{round(height,2)}")

Mykid deatils: Name:JAYARAM, Age:2, Height:3.68
Mykid details: Name:JAYARAM, Age:2, Height:3.68

In [37]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height:%.2f"%(name,age,height))
print(f"Mykid details: Name:{name}, Age:{int(age)}, Height:{round(height,2)}")
print("Mykid details: Name:{name}, Age:{int(age)}, Height:{round(height,2)}")

Mykid deatils: Name:JAYARAM, Age:2, Height:3.68
Mykid details: Name:JAYARAM, Age:2, Height:3.68
Mykid details: Name:{name}, Age:{int(age)}, Height:{round(height,2)}

In [38]:
name="JAYARAM"
age=2.3
height=3.6789
print("Mykid deatils: Name:%s, Age:%d, Height:%.2f"%(name,age,height))
print(f"Mykid details: Name:{name}:name, Age:{int(age)}, Height:{round(height,2)}")
print("Mykid details: Name:{name}, Age:{int(age)}, Height:{round(height,2)}")

Mykid deatils: Name:JAYARAM, Age:2, Height:3.68
Mykid details: Name:JAYARAM:name, Age:2, Height:3.68
Mykid details: Name:{name}, Age:{int(age)}, Height:{round(height,2)}

In [39]:
a=10+20/5
print(a)

14.0

In [40]:
a=(10+20)/5
print(a)

6.0

In [41]:
a=100
b=5

cost=23.45
print("product cost:",cost)

product cost: 23.45

In [42]:
a=100
b=5

cost=23.45
print("product cost:",int(cost))

product cost: 23

In [43]:
a=100
b=5

cost=23.45
print("product cost:%s"%cost)

product cost:23.45

In [44]:
a=100
b=5

cost=23.45
print("product cost:%d"%cost)

product cost:23

In [45]:
a="%d"%cost
print(a, type(a))

23 <class 'str'>

In [46]:
"23"

'23'

In [47]:
a=100
b=5

cost=23.45
print("product cost:"+str(int(cost)))

product cost:23

In [48]:
a=100
b=5
print(a+b**2)

125

In [49]:
a=100
b=5
print((a+b)**2)
print((a+b)**3)

11025
1157625

In [50]:
a=100
b=5
print(a**3+b**3+3ab(a+b))

SyntaxError: invalid syntax (<ipython-input-50-891ce462b82a>, line 3)

In [51]:
a=100
b=5
print(a**3+b**3+3*a*b*(a+b))

1157625

In [52]:
a=100
b=5
print(a**3+b**3+3*a*b*(a+b))
print(a**3+b**3+3*a**2*b+3*a*b**2)

1157625
1157625

In [53]:
# operator precedency
10+20/5

14.0

In [54]:
10000/2000/100/5

0.01

In [55]:
1000+2000+100/5

3020.0

In [56]:
1+2+3+4

10

In [58]:
1*2*3*4

24

In [59]:
a=100
b=200
print(a+b)

300

In [60]:
a=input("Enter a number:")
print(a)

Enter a number:100
100

In [61]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a+b)

Enter a value:100
Enter b value:200
100200

In [62]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:10
10 <class 'str'>

In [63]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:python
python <class 'str'>

In [64]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:[10,20,304,]
[10,20,304,] <class 'str'>

In [65]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:(1,2,3,4)
(1,2,3,4) <class 'str'>

In [66]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:1+2j
1+2j <class 'str'>

In [67]:
a=input("Enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(a+b)

Enter a value:10
Enter b value:20
30

In [68]:
a=input("Enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(a+b)

Enter a value:10.23

KeyboardInterrupt:

In [69]:
int(12.34)

12

In [70]:
int("10.23")

ValueError: invalid literal for int() with base 10: '10.23'

In [71]:
float("10.23")

10.23

In [72]:
float("10.23.34")

ValueError: could not convert string to float: '10.23.34'

In [73]:
float("12.34")

12.34

In [74]:
float("10")

10.0

In [75]:
a=input("Enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(a+b)

Enter a value:10
Enter b value:20
30

In [76]:
a=input("Enter a value:")
b=input("Enter b value:")
a=int(a)
b=int(b)
print(a+b)

Enter a value:10.23
Enter b value:45.67

ValueError: invalid literal for int() with base 10: '10.23'

In [77]:
a=input("Enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a value:10
Enter b value:20
30.0

In [78]:
a=input("Enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a value:10.23
Enter b value:45.67
55.900000000000006

In [79]:
a=input("Enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a value:we
Enter b value:er

ValueError: could not convert string to float: 'we'

In [80]:
try:
    a=input("Enter a value:")
    b=input("Enter b value:")
    a=float(a)
    b=float(b)
    print(a+b)
except:
    print("some error")

Enter a value:we
Enter b value:wr
some error

In [81]:
a,b=input("Enter a value:"),input("Enter b value:")
a,b=float(a),float(b)
print(a+b)

Enter a value:10
Enter b value:20
30.0

In [82]:
a,b=10,20

In [83]:
a

10

In [84]:
b

20

In [85]:
a,b=float(input("Enter a value:")),float(input("Enter b value:"))
print(a+b)

Enter a value:10
Enter b value:20
30.0

In [86]:
a=10
b=20
a>b

False

In [87]:
a=True
print(a, type(a))

True <class 'bool'>

In [88]:
a=10
bool(a)

True

In [89]:
bool(1)

True

In [90]:
bool(0)

False

In [91]:
bool(-10)

True

In [92]:
bool([])

False

In [93]:
bool([1,2,3,4])

True

In [94]:
bool(())

False

In [95]:
bool((1,2,3,4))

True

In [96]:
bool({})

False

In [97]:
bool({1,2,34})

True

In [98]:
bool({1:2})

True

In [99]:
bool(1+2j)

True

In [100]:
bool(0+0j)

False

In [101]:
bool(0.00000)

False

In [102]:
bool("")

False

In [103]:
bool("python")

True

In [104]:
bool(0)

False

In [105]:
bool(10)

True

In [106]:
bool([0])

True

In [107]:
bool("0")

True

In [108]:
bool((0))

False

In [110]:
a=[0]
print(a, type(a))

[0] <class 'list'>

In [111]:
a=(0)
print(a, type(a))

0 <class 'int'>

In [112]:
a=(0,)
print(a, type(a))

(0,) <class 'tuple'>

In [113]:
bool((0,))

True