In [1]:
print("welcome")
def fun():
    print("this is fun")
class CustomerSupply:
    print("this is class")
print("thanks")

welcome
this is class
thanks

In [2]:
print("welcome")
class CustomerSupply:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    def add(a,b):
        print(a,b)
print("thanks")

welcome
this is class
thanks

In [3]:
print("welcome")
class CustomerSupply:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    def add(a,b):
        print(a,b)
print("thanks")
print(x)

welcome
this is class
thanks

NameError: name 'x' is not defined

In [4]:
print("welcome")
class CustomerSupply:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    def add(a,b):
        print(a,b)
print("thanks")
print(CustomerSupply.x)
print(CustomerSupply.y)
print(CustomerSupply.z)
print(CustomerSupply.add(10,20))

welcome
this is class
thanks
1000
2000
3000
10 20
None

In [5]:
class Emp: # Emp is the reference of the class object
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() # jay is the reference of Emp data object. jay is an instance of Emp
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() # vedha is the reference of Emp object. vedha is an instance of Emp
vedha.name="vedhanvesh"

print(jay.name,vedha.name)

JAYARAM vedhanvesh

In [6]:
class Emp: # Emp is the reference of the class object
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() # jay is the reference of Emp data object. jay is an instance of Emp
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() # vedha is the reference of Emp object. vedha is an instance of Emp
vedha.name="vedhanvesh"

print(jay.name,vedha.name)
print(vedha.sal)

JAYARAM vedhanvesh

AttributeError: 'Emp' object has no attribute 'sal'

In [8]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() 
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() 
vedha.name="vedhanvesh"
print(vedha.company_name,jay.company_addres)

Khyaathi maithrivanam

In [9]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() 
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() 
vedha.name="vedhanvesh"
print(vedha.company_name,jay.company_addres)
print(Emp.name)

Khyaathi maithrivanam

AttributeError: type object 'Emp' has no attribute 'name'

In [10]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() 
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() 
vedha.name="vedhanvesh"
jay.name="jayaram"
print(jay.name)

jayaram

In [12]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
    def set_data(x,e_name,e_age=None,e_sal=None):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
jay=Emp() 
Emp.set_data(jay,"JAYARAM",23,34000)
'''
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
'''
vedha = Emp() 
Emp.set_data(vedha,"vedhanvesh")
'''
vedha.name="vedhanvesh"
jay.name="jayaram"
print(jay.name)
'''
print(vedha.name,jay.name)

vedhanvesh JAYARAM

In [13]:
class Emp: 
    company_name = "Khyaathi"  # class object attributes
    company_addres="maithrivanam"
    def get(x):
        return x.name,x.age,x.sal
    def set_data(x,e_name,e_age=None,e_sal=None):
        x.name=e_name # data object attributes
        x.age=e_age
        x.sal=e_sal
jay=Emp() 
Emp.set_data(jay,"JAYARAM",23,34000)
vedha = Emp() 
Emp.set_data(vedha,"vedhanvesh")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34000)
('vedhanvesh', None, None)

In [14]:
# define a car class mention some class object attributes and dataobject attributes. get and 
# set_data functions...

In [15]:
class Car:
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car()
Car.set_data(car1,"car1","RED",560000)
print(Car.get(car1))

('car1', 'RED', 560000, 4)

In [16]:
class Car:
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car()
Car.set_data(car1,"car1","RED",560000)
print(Car.get(car1))
car2=Car()
print(Car.get(car2))

('car1', 'RED', 560000, 4)

AttributeError: 'Car' object has no attribute 'name'

In [17]:
class Car:
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car()
#Car.set_data(car1,"car1","RED",560000)
car1.set_data("kwid","RED",560000)
#print(Car.get(car1))
print(car1.get())

('kwid', 'RED', 560000, 4)

In [18]:
class Car: # Car is a class object
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car() # car1 ref of the data object
car1.set_data("kwid","RED",560000) # Car.set_data(car1,"kwid","RED",560000)
print(car1.get())

('kwid', 'RED', 560000, 4)

In [20]:
class Product:
    def set_data(x,salesprice, costprice):
        x.sale=salesprice
        x.cost=costprice
    def profit(x):
        return x.sale - x.cost
mi=Product()
mi.set_data(6500,5500)
vivo=Product()
vivo.set_data(8900,8000)
print(mi.profit())
print(vivo.profit())

1000
900

In [27]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def set_data(x,e_id,sal):
        x.id=e_id
        x.sal=sal
    def sal_calc(x):
        return x.sal*(x.hike/100)+x.sal
jay=Emp()
jay.set_data("6973",34000)
print(jay.sal_calc())

37400.0

In [28]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def set_data(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp()
jay.set_data("6973",34000)
print(jay.sal_calc())

37400.0

In [29]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def set_data(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp()
jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp()
print(vedha.sal_calc())

37400.0

AttributeError: 'Emp' object has no attribute 'sal'

In [30]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")

this is class

In [31]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")

this is class

In [32]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=c1()

this is class
this is init

In [33]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self): # constructor
        print("this is init")
o1=c1()
o2=c1()
o3=c1()

this is class
this is init
this is init
this is init

In [35]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self): # constructor
        print("this is init")
o1=c1()
o2=c1()
o3=c1()

this is class
this is init
this is init
this is init

In [36]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x): # constructor
        print(x)
        print("this is init")
o1=c1(100)
o2=c1(10)
o3=c1()

this is class
100
this is init
10
this is init

TypeError: __init__() missing 1 required positional argument: 'x'

In [37]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp("6973",34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp()
print(vedha.sal_calc())

37400.0

TypeError: __init__() missing 2 required positional arguments: 'e_id' and 'sal'

In [38]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp("6973",34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp("6874",56000)
print(vedha.sal_calc())

37400.0
61600.0

In [39]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    id=None
    hike=10
    sal=10000
    def __init__(self,*k):
        if len(k)==2:
            self.id,self.sal=k
        elif len(k)==1:
            self.id=k
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp("6973",34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp("6874",56000)
print(vedha.sal_calc())

SyntaxError: invalid syntax (<ipython-input-39-6e09ad12e409>, line 3)

In [41]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,**k):
        self.context = k
    def sal_calc(self):
        if "sal" in self.context:
            emp_sal = self.context.get("sal")
            return emp_sal+emp_sal*(self.hike/1000)
        else:
            return 0
jay=Emp(e_id="6973",sal=34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp(w_id="6874",sal=56000)
print(vedha.sal_calc())

34340.0
56560.0

In [42]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,**k):
        self.context = k
    def sal_calc(self):
        if "sal" in self.context:
            emp_sal = self.context.get("sal")
            return emp_sal+emp_sal*(self.hike/1000)
        else:
            return 0
jay=Emp(e_id="6973",sal=34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp(w_id="6874",sal=56000)
print(vedha.sal_calc())
sai=Emp()
print(sai.sal_calc())

34340.0
56560.0
0

In [ ]:
# Redifie the Car class no_wheels as clas object attributes, color, cost, name as a data
# object attributes. Make sure that the data object attributes are initialized in the 
# constructor..